.center {
    margin: auto;
    width: 35%;
    border: 2px dotted #000000;
    padding: 6%;
    margin-top: 12%;
}

#file {
    font-size: 25px;
    color: #000000ea;
    text-align: center;
}

#upload-button {
    width: 150px;
    display: block;
    padding: 10px;
    margin: 20px auto;
    background-color: rgb(9, 168, 17);
    color: white;
    font-weight: bold;
}

#sign {
    width: 150px;
    display: block;
    padding: 10px;
    margin: 20px auto;
    background-color: rgb(9, 168, 17);
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#instruct {
    margin-left: 32%;
    margin-top: 3%;
    color: rgba(0, 0, 0, 0.644);
}

#file-to-upload {
    display: none;
}

#pdf-main-container {
    width: 400px;
    margin: 20px auto;
}

#pdf-loader {
    display: none;
    text-align: center;
    color: #999999;
    font-size: 13px;
    line-height: 100px;
    height: 100px;
}

#pdf-contents {
    display: none;
}

#pdf-meta {
    overflow: hidden;
    margin: 0 0 20px 0;
}

#pdf-buttons {
    float: left;
}

#page-count-container {
    float: right;
}

#pdf-current-page {
    display: inline;
}

#pdf-total-pages {
    display: inline;
}

#pdf-canvas {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

#page-loader {
    height: 100px;
    line-height: 100px;
    text-align: center;
    display: none;
    color: #999999;
    font-size: 13px;
}

#text-layer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    opacity: 0.2;
    line-height: 1.0;
}

#text-layer>div {
    color: transparent;
    position: absolute;
    white-space: pre;
    cursor: text;
    transform-origin: 0% 0%;
}